<div class="bar stable-bg padding-left">
    <button class="button  button-icon icon ion-chevron-left " onclick="javascript:history.back(-1);"></button>
    <h1 class="title font-title">我的服务</h1>
</div>
<ion-view hide-tabs="true">
    <div class="tabs-striped tabs-top tabs-background-light ">
        <div class="tabs" style="border-bottom:1px solid #eee;">
            <span class="tab-item font-title" ng-class="{'active': tabIndex==5}" ng-click="getServiceList(5) " >待接件 </span>
            <span class="tab-item font-title" ng-class="{'active': tabIndex==6}" ng-click="getServiceList(6)">办理中</span>
        </div>
    </div>
    <!-- 待发货-->
    <ion-content  style="top: 78px">
        <ion-list >
            <div ng-repeat="item in listService">
                <div class="item row bar padding">
                    <p>{{item.OrderNo}}</p>
                </div>
                <ion-item class="item-thumbnail-left "ng-repeat="detail in item.Details">
                    <img src="http://img.iyookee.cn/{{detail.MainImg}}" alt=""/>
                    <h2 style="white-space: normal" class="font-title">{{detail.ProductName}}</h2>
                    <!--<p>{{item.proparameter}}：{{item.propValue}}</p>-->
                    <div ><span>X{{detail.Count}}</span><span class="float-right"><span class="p-price">￥{{detail.Price}}</span><del >￥{{detail.Product.Price}}</del></span></div>
                </ion-item >
                <div class="item  bar padding" style="margin-bottom:10px">
                    <div>
                        <span ng-show="tabIndex==5">买家未接件</span>
                        <span ng-show="tabIndex==6">办理中</span>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>